<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.grand.imanpro">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />

    <application
        android:usesCleartextTraffic="true"
        android:allowBackup="true"
        android:icon="@mipmap/new_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/new_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".InventoryNew"></activity>
        <activity android:name=".InventoryScan" />
        <activity android:name=".Settings" />
        <activity android:name=".LoginActivity" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".test"  android:screenOrientation="portrait" />
        <activity android:name=".MainActivity"  android:screenOrientation="portrait" />
        <activity android:name=".Inventory"  android:screenOrientation="portrait" />
        <activity android:name=".InventoryReport"  android:screenOrientation="portrait" />
        <activity android:name=".ArticleData"  android:screenOrientation="portrait" />
        <activity android:name=".StockTrasnferScan"  android:screenOrientation="portrait" />
        <activity android:name=".StockTransfer"  android:screenOrientation="portrait" />
        <activity android:name=".StockTransferReport"  android:screenOrientation="portrait" />
        <activity android:name=".LabelScanView"  android:screenOrientation="portrait" />
        <activity android:name=".LabelScan"  android:screenOrientation="portrait" />
        <activity android:name=".LabelSelectPrinter"  android:screenOrientation="portrait" />
        <activity android:name=".GoldVsVision"  android:screenOrientation="portrait" />
        <activity android:name=".VisionOtherBar"  android:screenOrientation="portrait" />
        <activity android:name=".Wh_pick"  android:screenOrientation="portrait" />
        <activity android:name=".Wh_pick_items"  android:screenOrientation="portrait" />
        <activity android:name=".Wh_rcv_po"  android:screenOrientation="portrait" />
        <activity android:name=".Wh_rcv_scan"  android:screenOrientation="portrait" />
        <activity android:name=".Wh_rcv_report"  android:screenOrientation="portrait" />
        <activity android:name=".Ret_request"  android:screenOrientation="portrait" />
        <activity android:name=".RetReqReport"  android:screenOrientation="portrait" />
        <activity android:name=".Shelf_qty"  android:screenOrientation="portrait" />
        <activity android:name=".BarcodeGen"  android:screenOrientation="portrait" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>